.config/raycast/
.config/gh/
.config/github-copilot/
.DS_Store
.config/karabiner/automatic_backups/
.config/mcphub/
.config/vectorcode/
.config/stripe
.config/nvim/Users
configstore
simple-update-notifier
zed/
